<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
    [title="err"]{
        border: solid 2px red;
    }
    </style>


</head>

<body>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Sign Out"/>
</form>

    <div>
        <form method="post">
            <input type="text" name="link" required placeholder="Вставьте ссылку видео">
            <input type="time" id="t1" name="t1" required placeholder= "00.00.00" step="1" min="00:00:00" max="23:59:59">
            <input type="time" id="t2" name="t2" required placeholder= "23.59.59" title="" step="1" min="00:00:00" max="23:59:59">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
        <!-- pattern="([0-9]{2})\.([0-9]{2})\.([0-9]{2})" -->
         <script>
            document.addEventListener('DOMContentLoaded', function () {
                var pass1 = document.querySelector('#t1'),
                    pass2 = document.querySelector('#t2')

                pass1.addEventListener('input', function () {
                    this.value >= pass2.value ? pass2.setCustomValidity('time incorrect') : pass2.setCustomValidity('')
                })

                pass2.addEventListener('input', function (e) {
                    this.value <= pass1.value ? this.setCustomValidity('time incorrect') : this.setCustomValidity('')
                })
            })
         </script>

    <div>Список ссылок на видео</div>
    {{#videos}}
        <div>
            <b>{{id}}</b>
            <span>{{link}}</span>
            <span>{{t1}}</span>
            <span>{{t2 }}</span>
        </div>
    {{/videos}}
</body>
</html>