<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new user
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> User Name : <input type="email"  pattern=".+@.+\.(com|ru|org|by)" size="30"  title="Must be a email address" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password" pattern="[a-zA-Z0-9\.]{1-20}" required/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Sign In"/></div>
    <div><a href="/login">Назад</a></div>
</form>
</body>
</html>